@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-top-10">
    <h2>Edit Customer</h2>

    @using (Html.BeginForm("Update", "Customers", FormMethod.Post))
    {
        <div class="form-group">
            <div class="m-1">
                @Html.LabelFor(c => c.Customer.Name)
                <input class="form-control" data-val="true"
                       data-val-maxlength="The field Name must be a string or array type with a maximum length of '40'."
                       data-val-maxlength-max="40" data-val-required="The Name field is required." id="Customer_Name"
                       name="Customer.Name" type="text">
                @Html.ValidationMessageFor(c => c.Customer.Name)

            </div>
            <div class="m-1">
                @Html.LabelFor(c => c.Customer.BirthDate)
                <input class="form-control"
                       data-val="true"
                       data-val-date="The field Birthdate must be a date."
                       data-val-required="The Birthdate field is required."
                       id="Customer_BirthDate" name="Customer.BirthDate" type="date"
                       aria-describedby="Customer_BirthDate-error" aria-invalid="true">
                @Html.ValidationMessageFor(c => c.Customer.BirthDate)
            </div>
            <div class="m-1">
                @Html.LabelFor(c => c.Customer.MemmberShipTypeID)
                <select class="form-control" data-val="true" data-val-number="The field Membership Type must be a number."
                        data-val-required="The Membership Type field is required."
                        id="Customer_MemmberShipTypeID" name="Customer.MemmberShipTypeID">
                    <option value="">Select Membership</option>
                    <option value="1">Pay as you go</option>
                    <option value="2">Monthly</option>
                    <option value="3">Quarterly</option>
                    <option value="4">Yearly</option>
                </select>
                @Html.ValidationMessageFor(c => c.Customer.MemmberShipTypeID)
            </div>
            <div class="checkbox">
                <label>Subscribed to Newsletter?</label>
                <input data-val="true" data-val-required="The IsSubscribedToNewsetter field is required."
                       id="Customer_IsSubscribedToNewsetter"
                       name="Customer.IsSubscribedToNewsetter" type="checkbox" checked="">
            </div>

            @Html.HiddenFor(c => c.Customer.ID)

        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>


@section scripts  {

    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        function setDate(date) {

            var actualDate = new Date(date);

            var day = actualDate.getDate(),
                month = actualDate.getMonth() + 1,
                year = actualDate.getFullYear()

            month = (month < 10 ? "0" : "") + month;
            day = (day < 10 ? "0" : "") + day;

            return year + "-" + month + "-" + day;
        }

        $.ajax({
            url: "/api/customers/" + $("#Customer_ID").val(),
            method: "GET",
            success: function (data) {
                $("#Customer_Name").val(data.name);
                $("#Customer_BirthDate").val(setDate(data.birthDate));
                $("#Customer_MemmberShipTypeID").val(data.memmberShipTypeID);
                if (data.isSubscribedToNewsetter) {
                    $("#Customer_IsSubscribedToNewsetter").prop('checked', true);
                } else {
                    $("#Customer_IsSubscribedToNewsetter").prop('checked', false);
                }

            }
        })
    </script>  }

